/* UCB-VIRT-DATA-ANALYTICS-2022, Parto T. */

/*ivory:#fffff7, orange:#ffa500, honeydew:#f0fff0, rebeccapurple:#663399, indigo:#4b0082 */
body {
  color: black;
  background-color: #fffff7;
  margin: 0;
  padding: 0;
}

nav {
  opacity: 0.9;
}

nav:hover {
  opacity: 1;
  font-weight: 700;
  background: linear-gradient(to right, red, #ffa500, yellow, yellowgreen, green);
}

div.well:hover {
  background: #f0fff0;
}

div#sample-metadata.panel-body {
  background: #f0fff0;
}

div.col-md-5:hover {
  background: #f0fff0;
}

div.col-md-12:hover {
  background: #f0fff0;
}

hr {
  border: 1px solid #663399;
}

a[href^="#top"] {
  font-size: 20px;
  text-align: center;
  background: #ffa500;
}

h1[id^="ffFan"] {
  font-family: 'Fantasy', 'serif';
  color: #4b0082;
}

[id^="fsFan"] {
  font-family: 'Fantasy', 'serif';
  color: #4b0082;
  font-size: 18px;
}

.jumbotron {
  background-image: url("../images/bubbleplot_id946.jpg");
  background-size: 33.33% 100%;
  text-align: center;
}

.fs20 {
  font-size: 20px;
}

.fs18 {
  font-size: 18px;
}

.fs1Rem {
  font-family: inherit;
  font-size: 1rem;
}

#footer {
  font-family: inherit;
  font-size: 10px;
  text-align: center;
}

.animeBb {
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-name: big-bang;
}

@keyframes big-bang {
  from {
    margin-top: 45%;
    width: 175%;
  }
  to {
    margin-top: 0%;
    width: 25%;
  }
}

/* customize select tag */
select {
  background-color: white;
  display: inline-block;
  border: solid;
  border-radius: 5px;
  line-height: 1.5em;
  /* padding: top | right | bottom | left */
  padding: 0.2em 3.0em 0.2em 0.3em;
  /* support standard & historical browsers Chrome/Safari/Edge/Firefox */
  box-sizing: border-box;
  appearance: none;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -moz-appearance: none;
}

select.arrowUD {
  background-image: url("../images/arrow_up_down.png");
  background-position: 100%, 100% 0;
  /* width:auto height:line-height + padding-top + padding-bottom */
  background-size: auto calc(1.5em + 0.2em + 0.2em);
  background-repeat: no-repeat;
}

select.arrowUD:focus {
  border-color: #663399;
  outline: 0;
}
